# Functions

## functions store code, and it executes the code when called.

In [3]:
# Define a fumction 


def greeting():
    print("helo everyone nice to meet you")

In [4]:
# call a function 


greeting()

helo everyone nice to meet you

## Type of functions

#### Built a function

In [5]:
# built a fucntion 

print('hi')
len("sahil")

hi

5

In [7]:
min([8,6,2])
max([8,6,2])

8

### User defined fucntions

In [12]:
def greeting():
    print("helo everyone my name is sahil")
    print("hi")

In [13]:
greeting()

helo everyone my name is sahil
hi

### User defined functions

In [15]:
# simple functions

def greeting():
    print("helo everyone nice to meet you")

In [17]:
greeting()

helo everyone nice to meet you

In [21]:
# Input functions


def greeting(name):
    print(f"hello {name} nice to meet you")

In [24]:
greeting("sahil")

hello sahil nice to meet you

In [26]:
def area_of_circle(r):
    print((22/7)*r*r)

In [27]:
area_of_circle(5)

78.57142857142857

In [28]:
def area_of_rectangle(length, width):
    print(length*width)

In [29]:
area_of_rectangle(5,10)

50

In [33]:
# global scope
job = "netmax"
def myprofile():
    # local scope
    name = "sahil"
    age = 22
    education = "BBA"
    job = "hunting"
    print(name,age,education, job)

In [34]:
myprofile()

sahil 22 BBA hunting

In [36]:
job

'netmax'

In [41]:
# global scope

job = "netmax"
def myprofile():
    # local scope
    name = "sahil"
    global age
    age = 22
    education = "BBA"
    job = "hunting"
    print(name,age,education, job)

In [42]:
age

NameError: name 'age' is not defined

In [43]:
myprofile()

sahil 22 BBA hunting

In [45]:
age

22

In [49]:
# deafult functiom

def greeting(name="USER"):
    print(f'hello {name}, nice to meet you')

In [52]:
greeting()

hello USER, nice to meet you

In [56]:
# return function
def salary_structure(salary, tax_rate):
    tax=salary* tax_rate
    return tax

In [57]:
tax = salary_structure(80000, 0.12)

In [58]:
tax

9600.0

In [64]:
def volume_of_cuboid(length, width, height):
    ### writing in help
    """" 
    this function calculates volume of cuboid
    it takes length, width, height as input and multipiles them
    """
    dimensions = f"""
         length : {length}
         width  : {width}
         height : {height}
    """
    print(dimensions)
    return length*width*height

In [65]:
volume_of_cuboid(50, 80, 100)

         length : 50
         width  : 80
         height : 100

400000

In [66]:
help(volume_of_cuboid)

Help on function volume_of_cuboid in module __main__:

volume_of_cuboid(length, width, height)
    "
    this function calculates volume of cuboid
    it takes length, width, height as input and multipiles them

In [76]:
### questions
li = [3,5,7,3,2,7,9,5]

In [77]:
def sorthalf(li : list):
    length = len(li)
    li.sort()
    firsthalf = li[:length//2]
    secondhalf= li[length//2:]
    secondhalf.sort(reverse=True)

    return firsthalf+secondhalf

In [78]:
sorthalf(li)

[2, 3, 3, 5, 9, 7, 7, 5]