 # Recursion

#### when we call a function in itself is called recursion
conditions
1. We call a function in itself
2. We assume the second call will give a correct output
3. It must have a terminating condition

In [5]:
def factorial(n):
    print(n, n-1)
    if n == 0:
        return 1

    return n * factorial(n-1)

In [6]:
factorial(5)

5 4
4 3
3 2
2 1
1 0
0 -1

120

In [7]:
factorial(4)

4 3
3 2
2 1
1 0
0 -1

24

In [12]:
def factorial(n):
    if n == 0:
        return 1
    return n * factorial(n-1)

In [13]:
factorial(5)

120

In [14]:
L = [4,5,6,6,7,5,3]

In [17]:
def addlist(L):
    print (L)
    if len(L)==0:
        return 0
    return L[0] + addlist(L[1:])

In [18]:
addlist(L)

[4, 5, 6, 6, 7, 5, 3]
[5, 6, 6, 7, 5, 3]
[6, 6, 7, 5, 3]
[6, 7, 5, 3]
[7, 5, 3]
[5, 3]
[3]
[]

36

In [20]:
a = [3,4,5,6,7,6,2]

In [23]:
def addlist (a):
    print (a)
    if len(a)== 0:
        return 0
    return a[0] + addlist(a[1:])

In [24]:
addlist(a)

[3, 4, 5, 6, 7, 6, 2]
[4, 5, 6, 7, 6, 2]
[5, 6, 7, 6, 2]
[6, 7, 6, 2]
[7, 6, 2]
[6, 2]
[2]
[]

33

In [1]:
type(5) is int

True

In [1]:
def add_list(l):
    print(l)
    if type(l) is int:
        return l
    elif len(l)==0:
        return 0
    abc = add_list(l[0]) + add_list(l[1:])
    print(l[0])
    return abc

In [2]:
add_list([1,2,[9,6,4,2],7,5,6,3])

[1, 2, [9, 6, 4, 2], 7, 5, 6, 3]
1
[2, [9, 6, 4, 2], 7, 5, 6, 3]
2
[[9, 6, 4, 2], 7, 5, 6, 3]
[9, 6, 4, 2]
9
[6, 4, 2]
6
[4, 2]
4
[2]
2
[]
2
4
6
9
[7, 5, 6, 3]
7
[5, 6, 3]
5
[6, 3]
6
[3]
3
[]
3
6
5
7
[9, 6, 4, 2]
2
1

45