# WHILE LOOP
## repeating a task again and again untill certain criteria is sertisfied

In [19]:
# starting an infinite while loop
while True:
    print("hi")
    print("hello")
    break
    print("bye") 
    # printing  a value after while loop
print("sahil")

hi
hello
sahil

In [2]:
i = 1

In [3]:
while True:
    print(i)
    i += 1
    print(i)
    break

1
2

In [4]:
i

2

In [5]:
i = 1

In [6]:
i

1

In [1]:
i =1
while True:
    print(i)
    if i == 5:
        break
    i += 1

1
2
3
4
5

In [2]:
i = 0
while i < 3:
    print(i)
    i += 1

0
1
2

In [3]:
i = 0
while i < 5:
    print(i)
    i +=1

0
1
2
3
4

In [7]:
i = 0
n = 10
while i < n:
    print(i)
    i += 3

0
3
6
9

In [20]:
i = 0
n = 20
while i < n:
    print(i)
    i += 2

0
2
4
6
8
10
12
14
16
18

In [19]:
i = 0
n = 30
while i < n:
    print(i)
    i += 5

0
5
10
15
20
25

In [1]:
i = 1
n = 11
while i < n:
    print(7, "X", i, "=", i*7)
    i += 1

7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [2]:
i = 1
n = 11 
while i < n:
    print(5, "X", i, "=", i*5)
    i += 1

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [3]:
i = 0
n = 7
a = 0
while i < n:
    a += i 
    print(i ,a)
    i +=1
print(a)

0 0
1 1
2 3
3 6
4 10
5 15
6 21
21

In [11]:
a = 0
i = 0
n = 5
while i < n:
    a += i
    print(i,a)
    i += 1

0 0
1 1
2 3
3 6
4 10

In [12]:
# sum of numbers in a range
i = 50
n = 101
a = 0
while i < n:
    a+= i
    i+= 1
print(a)

3825

In [13]:
name = "sahil thakur"

In [14]:
name

'sahil thakur'

In [16]:
name = "sahil thakur"
i = 0
n = len(name)
while i < n:
    print(name[i])
    i += 1

s
a
h
i
l

t
h
a
k
u
r

In [18]:
name = "sahil thakur"
i = 0
n = len(name)
while i < n:
    print(i,n,name[i])
    i += 1

0 12 s
1 12 a
2 12 h
3 12 i
4 12 l
5 12
6 12 t
7 12 h
8 12 a
9 12 k
10 12 u
11 12 r